<div class="text-center mb-4 mt-3">
  <h6 class="h3">Set a strong password!</h6>
  <p class="text-muted mb-0">To keep your information safe and secure</p>
</div>
<span class="clearfix"></span>

<%= simple_form_for(@user, as: :user, url: registration_path(:user)) do |f| %>
    <%= f.error_notification %>

    <%= f.hidden_field :first_name %>
    <%= f.hidden_field :last_name %>
    <%= f.hidden_field :email %>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :password, label: "A good password", input_html: { class: "form-control", placeholder: "********" } %>
      </div>
    </div>

    <%= f.hidden_field :host, value: true %>
    <%= f.hidden_field :guest, value: false %>
    <%= f.hidden_field :from_invite, value: true %>
    <%= hidden_field_tag :code, session[:invite_code] %>

    <div class="row align-items-center">
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary mb-3 mb-sm-0" data-disable-with="Creating...">Save and Continue</button>
      </div>
    </div>

<% end %>
