
<h5 class="mt-3 mb-4">Payment Details</h5>

<% if current_user.card_on_file? %>

  <p>Please select a card on file to be used for this transaction.</p>

  <% current_user.credit_cards.each do |card| %>
    <div class="row mb-3">
      <div class="col-12">
        <%= radio_button("credit_card", "id", card.id, {class: 'cc-radio'}) %>
        <label for="credit_card_id_<%= card.id %>"><%= card.kind %> ending in <%= card.last_4 %> (Expires on <%= card.exp_mo %>/<%= card.exp_year %>)</label>
      </div>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col-12">
      <small><a href="javascript:void(0)" id="deselect-card">De-select card</a></small>
    </div>
  </div>
<% end %>

<div class="row" id="card-collection">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="form-row">

      <div class="col-lg-2 col-md-2">
      </div>

      <div class="col-lg-8 col-md-8">

        <div class="mb-1 ml-4 mt-4">
          <label for="card-element" class="field-heading">
            <% if current_user.card_on_file? %>
              Or, you may enter a new default credit or debit card below
            <% else %>
              Please enter your credit or debit card information below
              <% if !checkout_needs_stripe?(@interview) %>
                <p class="bigger-20 mt-3"><b>NOTE:</b> You will <i class="underlined">not</i> be charged for this interview.</p>
              <% end %>

            <% end %>
          </label>
        </div>

        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>

      </div>

      <div class="col-lg-2 col-md-2">
      </div>

    </div>
  </div>
</div>
