<% content_for :sub_header do %>
    <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link <%= 'active' if params[:_a].blank? %>" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Interview details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= 'active' if params[:_a] == 'applicants' %>" id="applicants-tab" data-toggle="tab" href="#applicants" role="tab" aria-controls="applicants" aria-selected="false">Applicants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= 'active' if params[:_a] == 'invite' %>" id="invite-tab" data-toggle="tab" href="#invite" role="tab" aria-controls="invite" aria-selected="false">Search PTM Network</a>
        </li>
    </ul>
<% end %>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade <%= 'show active' if params[:_a].blank? %>" id="details" role="tabpanel" aria-labelledby="details-tab">
        <%= render partial: 'upcoming_interview' %>
    </div>
    <div class="tab-pane fade <%= 'show active' if params[:_a] == 'applicants' %>" id="applicants" role="tabpanel" aria-labelledby="applicants-tab">
        <%= render partial: 'applicants', locals: { applicants: @interview.applicants.active.includes(:guest) } %>
    </div>
    <div class="tab-pane fade <%= 'show active' if params[:_a] == 'invite' %>" id="invite" role="tabpanel" aria-labelledby="invite-tab">
        <%= render partial: 'search_ptm_guests' %>
    </div>
</div>