<div class="page-inner-header mb-4">
  <h5 class="mb-1">Invoices</h5>

  <p class="text-muted mb-0">What you paid us for and when you paid us.</p>

</div>

<div class="table-responsive">
  <table class="table table-hover table-cards align-items-center">
    <tbody>
    <% @invoices.each do |invoice| %>
    <tr>
      <th scope="row"><span class="badge badge-lg badge-dot"><i class="bg-success"></i></span></th>
      <td>
        <i class="fas fa-calendar-alt mr-2"></i>
        <span class="font-weight-bold text-dark"><%= invoice.due_date.strftime('%B %d, %Y') %></span>
      </td>
      <td>#<%= invoice.number %></td>
      <td><span class="<%= 'text-danger' if invoice.payable? %>"><%= number_in_cents_to_currency(invoice.total_in_cents) %></span></td>
      <td>
        <div class="dropdown">
          <a class="btn btn-sm btn-icon-only" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="<%= invoice.stripe_data['hosted_invoice_url'] %>" target="_blank"><i class="fas fa-file-pdf text-muted"></i>Download invoice</a>
            <a class="dropdown-item" href="/account/invoices/<%=invoice.number %>" data-method="put"><i class="fas fa-file-archive text-muted"></i>Pay</a>
          </div>
        </div>
      </td>
    </tr>
    <tr class="table-divider"></tr>
    <% end %>
    </tbody>
  </table>
</div>