<h5 class="interview-title">
  <i class="fa fa-user mr-3 mb-4 mt-3"></i>Interviewees<span class="badge badge-light ml-2">(<%= @interview.invites.active.count %>)</span>
</h5>

<% if @interview.invites.empty? %>
    <p>No interviewees have been invited yet.</p>
<% else %>
    
    <% @interview.invites.order(:id).each do |invite| %>
        
        <div class="interview-show-content mb-3">
          
          <h6>
            <%= invite.name %>
          
          </h6>
          
          <div class="interview-invitee-email mb-3"><%= invite.email %></div>
          
          <% if !invite.address_line1.blank? || !invite.city.blank? %>
              
              <p>
                <% if !invite.address_line1.blank? %>
                    <%= invite.address_line1 %><br>
                <% end %>
                
                <% if !invite.address_line2.blank? %>
                    <%= invite.address_line2 %><br>
                <% end %>
                
                <% if invite.has_region_info? %>
                    <%= invite_address_last_line(invite) %>
                <% end %>
              </p>
          <% end %>
          <div>
            <%= render partial: 'interviews/invite_status', locals: { invite: invite } %>
          </div>
        </div>
    
    <% end %>

<% end %>