<div class="social-share-actions1">
  <%= render partial: '/layouts/app/social/button', locals: { name: 'facebook', url: url, desc: desc} %>
  <%= render partial: '/layouts/app/social/button', locals: { name: 'linkedin', url: url, desc: desc} %>
  <%= render partial: '/layouts/app/social/button', locals: { name: 'twitter', url: url, desc: desc} %>
  <%= render partial: '/layouts/app/social/button', locals: { name: 'pinterest', url: url, desc: desc} %>
  <%= render partial: '/layouts/app/social/button', locals: { name: 'tumblr', url: url, desc: desc} %>
</div>