<p id="notice"><%= notice %></p>

<h1>Public Sites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% all_public_sites.each do |public_site| %>
      <tr>
        <td><%= public_site.name %></td>
        <td><%= public_site.url %></td>
        <td><%= public_site.image_url %></td>
        <td><%= link_to 'Show', public_site %></td>
        <td><%= link_to 'Edit', edit_public_site_path(public_site) %></td>
        <td><%= link_to 'Destroy', public_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Public Site', new_public_site_path %>
