<section class="slice">
  <div class="container">
    <div class="row row-grid">

      <div class="col">
        <div class="page-inner-header mb-4">
          <div class="row row-grid align-items-center">
            <div class="col-lg-8">
              <div class="media align-items-center">
                <div class="media-body">
                  <h5 class="mb-1">Edit Podcast Details</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" col-lg-4">
            <%= render 'form' %>
          </div>
          
          <div class="col-lg-8">
            <% if policy(@account).manage_invites? %>
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="mb-3 text-center">Podcast admins</h6>
                      <%= render 'invites' %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            
            <div class="row"><div class="col-lg-12"><br/></div></div>

            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h6 class="mb-3 text-center">Social Sites</h6>
                    <%= render '/accounts/social_site_form' %>
                  </div>
                </div>
              </div>
            </div>

            <div class="row"><div class="col-lg-12"><br/></div></div>

             <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h6 class="mb-3 text-center">Public Sites</h6>
                    <%= render '/accounts/public_site_form' %>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= javascript_include_tag :cocoon %>
